header
  background: url('/svg/hexagon-dark.svg')
  background-repeat: no-repeat
  background-size: contain
  nav
    display: flex
    justify-content: flex-end
    align-items: center
    padding-right: calc((100% - 1120px))
    padding-bottom: 20px
    a
      font-family: 'Roboto', sans-serif
      text-decoration: none
      color: white
      font-size: 1.8em
      font-weight: 500
      padding: 0px 10px
      cursor: pointer
      &.sigin
        margin-left: 30px
        border: 1px solid rgb(255, 255, 255)
        padding: 10px 16px
        border-radius: 6px
        &:hover, &.active
          background-color:#1e2434
          color: $white
        &.active
          &:hover 
            background-color: lighten(#1e2434,5% )
            color: $white

  
  .basecamp
    color: $white
    font-size: 6em
    width: fit-content
    border-radius: 6px
    z-index: 1
    background: #1e2434
    padding: 10px
    small
      display: flex
      font-weight: 300
      font-size: 14px
      color: $white

  .date
    color: white
    small
      display: flex
      color: $lightgreen
      font-weight: 600

@media screen and ( max-width: 1024px  )
  header
    .basecamp
      font-size: 4.5em
    nav
      justify-content: flex-start
      a
        font-size: 1.6em
        &.sigin
          display: block

@media screen and ( max-width: 768px  )
  header
    .basecamp
      font-size: 3.5em
    nav
      justify-content: flex-start
      a
        font-size: 1.7em
        &.sigin
          display: none
  
@media screen and ( max-width: 667px  )
  header
    background: none
    .content 
      padding: 0
      
    .basecamp
      width: 100%
      border-radius: 0
      font-size: 2.8em
      margin-bottom: 0
      background: #5659db
    nav
      display: none
      justify-content: flex-start
      a
        font-size: 1.4em
        &.sigin
          display: none