header
  background: url('/svg/hexagon-dark.svg')
  background-repeat: no-repeat
  background-size: contain
  .basecamp
    color: $white
    font-size: 6em
    display: inline-flex
    position: relative
    bottom: -50px
    background: #5659db
    border-radius: 6px
    padding: 10px
    small
      display: flex
      font-weight: 300
      font-size: 14px
      color: $white

  .date
    color: white
    small
      display: flex
      color: $lightgreen
      font-weight: 600