.text-center
  text-align: center!important
.text-right
  text-align: right!important
.text-left
  text-align: left!important
.text-green 
  color: $lightgreen
.text-red
  color: $lightred

.b
  font-weight: 700

.bg-highlight
  background-color: $lightgreen
  color: $white
.call-to-action
    margin-top: 20px
    padding: 20px 100px
    background-color: $white
    border-color: #5659db
    color: #5659db
    font-weight: 800
    font-size: 18px
    &:hover, &.active 
      background-color: #1e2434
      border-color: #1e2434
      color: $white

@media screen and ( max-width: 667px  )
  .call-to-action
    padding: 20px 30px
    width: 100%
    font-size: 1.6em